.pt-sticky-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__container {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 100;
		transform: translateY(-100%);
		transition: transform 200ms linear;
		background-color: #ffffff;
		box-shadow: 0 1px 3px rgba(0, 0, 0, .1);

		&.is-shown {
			transform: translateY(0);
		}

		.admin-bar & {
			top: 0;

			@media (min-width: 600px) {
				top: ptr(46);
			}

			@media (min-width: 783px) {
				top: ptr(32);
			}
		}
	}

	&__logo {
		margin: ptr(10) 0;
	}

	&__navigation {
		align-self: flex-end;

		.main-navigation {
			display: none;

			@media (min-width: 992px) {
				display: inline-block;
			}
		}
	}

	&__call-to-action {
		display: inline;
		margin-left: ptr(10);
	}

	&__hamburger {
		margin: ptr(10) 0 ptr(10) ptr(10);

		&-text {
			display: none;

			@media (min-width: 544px) {
				display: inline;
			}
		}

		.fa {
			margin-right: 0;

			@media (min-width: 544px) {
				margin-right: ptr(7);
			}
		}
	}
}
